<mat-toolbar
  fxLayout="row"
  style="background-color: #fff"
  class="mat-elevation-z4"
>
  <span><button routerLink="/resume" mat-button>Resume Builder</button></span>
  <button
    *ngIf="this.userService.isLogged()"
    mat-button
    routerLink="/resume"
    routerLinkActive="mat-primary"
    fxHide.xs
  >
    Create Resume
    <mat-icon class="mr" aria-hidden="true" aria-label="Example address icon"
      >edit_note</mat-icon
    >
  </button>

  <button
    *ngIf="this.userService.isLogged()"
    mat-button
    routerLink="/search"
    routerLinkActive="mat-primary"
    fxHide.xs
  >
    Your Resume
    <mat-icon class="mr" aria-hidden="true" aria-label="Example address icon"
      >description</mat-icon
    >
  </button>
  <span class="space"></span>

  <button
    *ngIf="!this.userService.isLogged()"
    mat-button
    routerLink="/login"
    routerLinkActive="mat-primary"
    fxHide.xs
  >
    Login
    <mat-icon class="mr" aria-hidden="true" aria-label="Example address icon"
      >login</mat-icon
    >
  </button>

  <button
    *ngIf="!this.userService.isLogged()"
    mat-button
    routerLink="/register"
    routerLinkActive="mat-primary"
    fxHide.xs
  >
    Register
    <mat-icon class="mr" aria-hidden="true" aria-label="Example address icon"
      >app_registration</mat-icon
    >
  </button>

  <button
    *ngIf="this.userService.isLogged()"
    mat-button
    routerLink="/profile"
    routerLinkActive="mat-primary"
    fxHide.xs
  >
    Profile
    <mat-icon class="mr" aria-hidden="true" aria-label="Example address icon"
      >person</mat-icon
    >
  </button>

  <button
    *ngIf="this.userService.isLogged()"
    mat-button
    (click)="onLogout()"
    fxHide.xs
  >
    Logout
    <mat-icon class="mr" aria-hidden="true" aria-label="Example address icon"
      >logout</mat-icon
    >
  </button>

  <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #dropMenu="matMenu">
    <ng-container>
      <button
        mat-menu-item
        *ngIf="this.userService.isLogged()"
        routerLink="/resume"
        routerLinkActive="mat-primary"
      >
        Create Resume
        <mat-icon
          class="mr"
          aria-hidden="true"
          aria-label="Example address icon"
          >edit_note</mat-icon
        >
      </button>
      <mat-divider></mat-divider>

      <button
        mat-menu-item
        *ngIf="this.userService.isLogged()"
        routerLink="/search"
        routerLinkActive="mat-primary"
      >
        Your Resume
        <mat-icon
          class="mr"
          aria-hidden="true"
          aria-label="Example address icon"
          >description</mat-icon
        >
      </button>
      <mat-divider></mat-divider>
      <button
        mat-menu-item
        *ngIf="!this.userService.isLogged()"
        routerLink="/login"
        routerLinkActive="mat-primary"
      >
        Login
        <mat-icon
          class="mr"
          aria-hidden="true"
          aria-label="Example address icon"
          >login</mat-icon
        >
      </button>
      <mat-divider></mat-divider>

      <button
        mat-menu-item
        *ngIf="!this.userService.isLogged()"
        routerLink="/register"
        routerLinkActive="mat-primary"
      >
        Register
        <mat-icon
          class="mr"
          aria-hidden="true"
          aria-label="Example address icon"
          >app_registration</mat-icon
        >
      </button>
      <mat-divider></mat-divider>

      <button
        mat-menu-item
        *ngIf="this.userService.isLogged()"
        routerLink="/profile"
        routerLinkActive="mat-primary"
      >
        Profile
        <mat-icon
          class="mr"
          aria-hidden="true"
          aria-label="Example address icon"
          >person</mat-icon
        >
      </button>
      <mat-divider></mat-divider>

      <button
        mat-menu-item
        *ngIf="this.userService.isLogged()"
        (click)="onLogout()"
      >
        Logout
        <mat-icon
          class="mr"
          aria-hidden="true"
          aria-label="Example address icon"
          >logout</mat-icon
        >
      </button>
    </ng-container>
  </mat-menu>
</mat-toolbar>
